aniso8601==9.0.1
async-generator==1.10
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
click==8.1.3
exceptiongroup==1.0.0rc9
Flask==2.1.2
Flask-Cors==3.0.10
flask-restx==0.5.1
h11==0.14.0
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.16.0
lxml
MarkupSafe==2.1.1
outcome==1.2.0
pymongo==4.2.0
pyrsistent==0.18.1
PySocks==1.7.1
pytz==2022.4
selenium==4.5.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.12
Werkzeug==2.1.2
wsproto==1.2.0
zipp==3.8.1
